*{
  margin:0;
  padding: 0;
}

.container{
  width: 100%;
  height: auto;
  /* background-color: dodgerblue; */
  background: rgb(158, 209, 240);
}

.nav{
  width: 100%;
  height: 60px;
  background: rgb(243, 233, 221);
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li{
  margin: 20px;
}

li a{
  color:gray;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.1em;
  font-family: "font-family: 'Signika', sans-serif;";
  font-weight: 500;
}

/* #inPutName{
  font-size: 8px;
} */


.nav li:last-child{
  border:none;
}

.line{
  height: 28px;
border-right:  2.5px solid #807f7f;
}



.banner{
  width: 100%;
  /* height: 540px; */
  /* background-color: #c7e0ee; */
  background-color: rgb(92, 166, 240);
  /* display:grid;
  grid-template-columns: 1fr 1fr; */
  box-sizing: border-box;
  padding: 40px;
  padding-left: 215px;
  padding-right: 215px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 40px;
}

#DivElement{
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;

}

#clickBtn{
position: static;
width: 200px;
background-color: rgba(181, 179, 179);
color:white;
box-sizing: border-box;
padding: 10px;
margin-top:-50px;
}

#clickBtn:hover{
  cursor:pointer;
}

#img{
  width: 350px;
  height: 320px;
  border-radius: 3%;
  /* margin: 0; */
}

.vertical-line{
height: 0;
}

#vertical-line{
  height: 340px;
  border-right:  45px solid #807f7f;
  position: relative;
  bottom: 540px;
  right: 1155px;
}

.vertical-line h3{
  word-break: break-all;
  position: relative;
  right: 400px;
  z-index: 90;
  color: white;
}

form{
  width: 700px;
  height: 480px;
  background-image: linear-gradient(45deg, rgb(243, 233, 221), rgb(218, 192, 160));
  position: relative;
  top: 20px;
  left: 280px;
  border-radius: 10px;
}

form input{
  margin: 20px;
  box-sizing: border-box;
  padding: 8px;
  width: 400px;
  position: relative;
  top: 20px;
  left: 120px;
}

form h2{
  text-align: center;
  position: relative;
  top: 22px;
}

button{
  position: relative;
  top: 75px;
  right: 160px;
  box-sizing: border-box;
  padding: 15px 40px;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}



.footer{
width: 100%;
height: 60px;
background: rgb(243, 233, 221);
position: relative;
top: 50px;
text-align: center;
}

.footer p{
  box-sizing: border-box;
  padding-top: 3px;
  color: gray;
  font-family: "font-family: 'Signika', sans-serif;";
  font-size: 1.1em;
  line-height: 22px;
}

.fa-instagram{
  color: purple;
}
.fa-instagram:hover{
  cursor:pointer;
  color: rgb(221, 51, 221);
}
.fa-twitter{
  color:skyblue;
  color:rgb(97, 185, 220);
}

.fa-twitter:hover{
  cursor:pointer;
  color:skyblue;
}

.fa-facebook{
  color:blue;
}
.fa-facebook:hover{
  cursor:pointer;
  color:rgb(60, 116, 237);
}